body{
font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img{
    display: block;
}
.heder{
    
}

.container {
display: flex;
align-items: center;
width: 1400px;
height: 80px;
padding: auto 20px;
padding: 0 147px 0 147px;
margin: 0 auto 25px;
}

.navigation {
display: flex;
align-items: center;
    
}


.nav-logo-link { 
    
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 0.93333;
        color: #173a56;
        margin-right: 237px;
}

.naw-logo-img {

}
.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.nav-list-item {
  
   
 }


.nav-link-page {
font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}
.nlpp {
    font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.75;
        color: #22343d;
}
.nav-list-button {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-left: 73px;
    
}

.nav-list-item-button {
   
}

.nav-button {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    cursor: pointer;
}

.nav-button:hover,
.nav-button:focus {
background-color: #02897a;
color: #fff;
}

.nbup {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background-color: #02897a;
    cursor: pointer;
}


/* 1 hero */

.hero {}

.hero-title {
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        color: #22343d;
        padding: 112px 48px 18px 0;
}

.hero-text {
font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #22343d;
    padding: 0 35px 45px 0;
}


.container-hero {
    display: flex;
    /* justify-content: center; */
        align-items: center;
        gap: 35px;
        width: 1110px;
        height: 555px;
        margin: 0 auto;
}
.hero-list {
    display: flex;
        align-items: center;
        gap: 30px;
        padding: 0 128px 112px 0;
}

.hero-list-item {}


.hero-list-item-svg {

    display: flex;
    align-items: center;
    gap: 8px;
}

.hero-btn-list-item {
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 178px;
    height: 53px;
    background-color: #02897a;
    cursor: pointer;
}

.hero-svg {
    cursor: pointer;
}

.hero-btn-list-item-svg {
    width: 164px;
    height: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    cursor: pointer;
}
.hero-image {}


/* 2 product */


.product {
    
    width: 1400px;
    height: 503px;
    margin: 0 auto;
    
}

.product-icon {

    width: 1110px;
    height: 204px;
    margin: 0 145px 50px 145px;
}


.product-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin: 100px 430px 50px 431px;
    width: 530px;
    height: 96px;
}

.product-list {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.product-icon-list {

    width: 255px;
    height: 204px;

}

.arrow {
        border-radius: 19px;
        width: 54px;
        height: 54px;
        padding: 20px;

        background-color: #02897a;
        
}

.snake {

    border-radius: 19px;
        width: 54px;
        height: 54px;
        padding: 19px;
    
       background-color: #4d8dff;
}

.heart {

    border-radius: 19px;
    width: 54px;
    height: 54px;
    padding: 19px;

    background-color: #740a76;
}


.shugar-clock {

    border-radius: 19px;
    width: 54px;
    height: 54px;
    padding: 19px;

    background-color: #f03e3d;
}


.product-title-item {

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin: 19px 0 13px 0;
}


.product-text {
font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 76px;

}



.product-button {
    display: flex;
        align-items: center;
        justify-content: center;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background-color: #02897a;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}


/* managment */

.managment-dv {

    display: flex;
    align-items: center;  
    width: 1110px;
    height: 500px;
    margin: 0 auto;  
}

.text-managment {
font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}


.managment-title {

    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: #22343d;
}

.text {
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.625;
        color: #22343d;
}

.managment-list-title {

    font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.625;
        color: #22343d;
}

/* .team-icons-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: px;
    border-radius: 19px;
    width: 54px;
    height: 54px;
    
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #02897a;
cursor: pointer;

} */